<div class="background">
  <div class="card-container">
    <div class="card-home">
      <h1 class="question"><%= @question["question"] %></h1>
      <div class="options">
        <% @question["options"].each do |option| %>
          <form method="POST" action="/quiz/<%= params[:id].to_i + 1 %>">
            <input type="submit" name="<% option["id"] %>" value="<%= option["text"] %>" class="btn-gradient option">
            <input type="hidden" name="selected_answer" value="<%= option["id"] %>">
            <input type="hidden" name="question_id" value="<%= params[:id] %>">
            <input type="hidden" name="score" value="<%= @score %>">
          </form>
        <% end %>
      </div>
    </div>
  </div>
</div>
